<ion-view view-title="Create Salesman">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="User Name" ng-model="user.Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Father Name</span>
                <input type="text" placeholder="Father Name" ng-model="user.FatherName">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Phone No.</span>
                <input type="number" placeholder="Phone No." ng-model="user.PhoneNo">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" ng-model="user.Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="user.Password">
            </label>

        </div>
        <div class="button-bar">
            <button class="button button-positive" ng-click="SignUp()">Create Salesman</button>
        </div>


    </ion-content>
</ion-view>